parameters:
    bootstrapFiles:
        - test.bootstrap.inc.php
    excludes_analyse:
        - ../src/*/Tests/*
    ignoreErrors:
        -
            message: '#Variable \$(response|result) might not be defined.#'
            paths:
                - ../src/Lunr/Vortex/JPush/JPushBatchResponse.php
