<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            syntaxCheck="false"
            forceCoversAnnotation="true"
            mapTestClassNameToCoveredClassName="true"
            colors="true"
            verbose="true">
    <php>
        <ini name="zend.enable_gc" value="0" />
    </php>
    <testsuites>
        <testsuite name="Vortex">
            <file>src/Lunr/Vortex/GCM/Tests/GCMDispatcherBaseTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMDispatcherPushTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMDispatcherSetTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMDispatcherTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMPayloadBaseTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMPayloadGetTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMPayloadSetTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMResponseErrorTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMResponseSetTest.php</file>
            <file>src/Lunr/Vortex/GCM/Tests/GCMResponseSuccessTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSPayloadTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSToastPayloadSetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSToastPayloadGetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSTilePayloadSetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSTilePayloadGetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSResponseErrorTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSResponseSuccessTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSResponseSetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSDispatcherBaseTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSDispatcherSetTest.php</file>
            <file>src/Lunr/Vortex/MPNS/Tests/MPNSDispatcherPushTest.php</file>
            <file>src/Lunr/Vortex/PAP/Tests/PAPPayloadBaseTest.php</file>
            <file>src/Lunr/Vortex/PAP/Tests/PAPPayloadGetTest.php</file>
            <file>src/Lunr/Vortex/PAP/Tests/PAPPayloadSetTest.php</file>
            <file>src/Lunr/Vortex/PAP/Tests/PAPResponseErrorTest.php</file>
            <file>src/Lunr/Vortex/PAP/Tests/PAPResponseInvalidXMLTest.php</file>
            <file>src/Lunr/Vortex/PAP/Tests/PAPResponseSetTest.php</file>
            <file>src/Lunr/Vortex/PAP/Tests/PAPResponseSuccessTest.php</file>
            <file>src/Lunr/Vortex/PAP/Tests/PAPDispatcherPushTest.php</file>
            <file>src/Lunr/Vortex/PAP/Tests/PAPDispatcherSetTest.php</file>
            <file>src/Lunr/Vortex/PAP/Tests/PAPDispatcherTest.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../src/Lunr/</directory>
            <exclude>
                <directory>../src/Lunr/Vortex/Tests/</directory>
                <directory>../src/Lunr/Vortex/GCM/Tests/</directory>
                <directory>../src/Lunr/Vortex/MPNS/Tests/</directory>
                <directory>../src/Lunr/Vortex/PAP/Tests/</directory>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                title="Lunr"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"
                logIncompleteSkipped="false"/>
    </logging>
</phpunit>
